.title {
  background-color: rgb(63, 170, 170);
  h1 {
    width: 100%;
    text-align: center;
    height: auto;
    margin: auto;
    margin-top: 10px;
    font-style: normal;
    font-size: 44;
    color: #fff;
    border-radius: 5px;
  }
}
